.favoriteCards{
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  .card{
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-icon{
      padding: 4px;
      height: 18px;
      width: 18px;
      cursor: pointer;
    }
  }
}
